
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    @Styles.Render("~/Content/Index")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Index")
</head>
<body>
    @Html.Partial("../Shared/BannerPartial")
    <div class="container content">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2 c-img-div"><a href=""><img src="SampleImage/s1.jpg" class="user-img" /></a></div>
                    <div class="col-md-10 col-pad-left">
                        <div class="c-img"></div>
                        <div class="c-div">
                            <div class="c-title"><a href="">每日梵游记推荐</a></div>
                            <div class="row c-content">
                                <div class="col-md-4">
                                    <a href=""> <img src="SampleImage/s2.png" class="u-img" /></a>
                                </div>
                                <div class="col-md-8 word-p">
                                    <a href="" class="content-a">【今日推荐】 BoBoTsaii 一个还在上大学的男生。今年伊始，喜欢上烹饪，恋上在厨房里“瞎鼓捣”的感觉。而且，能为自己和家人做出好的食物，心中也会洋溢着满满的温暖与成就感。他每天会在前一天想好要做的菜，准备好所需的食材，临睡前构思好摆盘。每天早上7点左右起床(最近放暑假，5:40起床跑步)，花20-30分钟的时间做饭，听着锅炉伴着闪烁的火光微微作响，仿佛在欣他每天会在前一天想好要做的菜，准备好所需的食材，临睡前构思好摆盘。每天早上7点左右起床(最近放暑假，5:40起床跑步)，花20-30分钟的时间做饭，听着锅炉伴着闪烁的火光微微作响，仿佛在欣</a>
                                </div>
                            </div>
                            <div class="c-content-op">
                                <div class="op-word">2015/08/16</div>
                                <div class="op-word">来自360浏览器</div>
                                <a href="" class="op-user">删除</a>
                                <a href="" class="op-user">编辑</a>
                                <a href="" class="op-user">评论(10)</a>
                                <a href="" class="op-user">转发(2)</a>
                            </div>
                        </div>

                        <div class="c-div-b"></div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2 c-img-div"><a href=""><img src="SampleImage/s1.jpg" class="user-img" /></a></div>
                    <div class="col-md-10 col-pad-left">
                        <div class="c-img"></div>
                        <div class="c-div">
                            <div class="c-title"><a href="">每日梵游记推荐</a></div>
                            <div class="row c-content">
                                <div class="col-md-4">
                                    <a href=""> <img src="SampleImage/s3.png" class="u-img" /></a>
                                </div>
                                <div class="col-md-8 word-p">
                                    <a href="" class="content-a">【今日推荐】 BoBoTsaii 一个还在上大学的男生。今年伊始，喜欢上烹饪，恋上在厨房里“瞎鼓捣”的感觉。而且，能为自己和家人做出好的食物，心中也会洋溢着满满的温暖与成就感。</a>
                                </div>
                            </div>
                            <div class="c-content-op">
                                <div class="op-word">2015/08/16</div>
                                <div class="op-word">来自360浏览器</div>
                                <a href="" class="op-user">删除</a>
                                <a href="" class="op-user">编辑</a>
                                <a href="" class="op-user">评论(10)</a>
                                <a href="" class="op-user">转发(2)</a>
                            </div>
                        </div>

                        <div class="c-div-b"></div>
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div class="d-number">
                    <div class="d-numbe-div">
                        <div class="d-numbe-d1"><a href="">494</a></div>
                        <div class="d-numbe-d1"><a href="">关注</a></div>
                    </div>
                    <div class="d-numbe-div">
                        <div class="d-numbe-d1"><a href="">360</a></div>
                        <div class="d-numbe-d1"><a href="">粉丝</a></div>
                    </div>
                    <div class="d-numbe-div" style="border:0;">
                        <div class="d-numbe-d1"><a href="">20</a></div>
                        <div class="d-numbe-d1"><a href="">文章</a></div>
                    </div>

                </div>
                <div class="name-div">
                    <div class="name-div-top">
                        <div class="name-div-left">
                            <a href=""><img src="SampleImage/s1.jpg" /></a>
                        </div>
                        <div class="name-div-right">
                            <div class="name-div-right-top"><a href="">进击的巨人</a></div>
                            <div class="name-div-right-bot">本人有点懒，什么也没留下</div>
                        </div>

                    </div>
                    <div class="name-div-bot">
                        <button type="button" class="btn btn-primary">关注</button><button type="button" class="btn btn-info">私信</button>

                    </div>
                </div>

                <div class="userinfo-div">
                    <div class="userinfo-div-title">性别 :</div><div class="userinfo-div-con">男</div>
                    <div class="userinfo-div-title">城市 :</div><div class="userinfo-div-con">大连</div>
                    <div class="userinfo-div-title">爱好 :</div><div class="userinfo-div-con">游泳</div>
                    <div class="userinfo-div-title">联系方式 :</div><div class="userinfo-div-con">QQ：13213213</div>
                    <div class="clear"></div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>
