@model FYJ.Model.ChangePassword
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Index")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Index")
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial("../Shared/BannerPartial")
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="d-title d-left">
                        <div class="d-title-acc">Memorylose</div>
                    </div>
                    <div class="d-title d-left d-banner">
                        <div class="d-banner-t"><a href="/Account/Index">个人设置</a></div>
                        <div class="d-banner-t"><a href="">修改头像</a></div>
                        <div class="d-banner-t"><a href="">修改密码</a></div>
                        <div class="d-banner-t"><a href="">我的积分</a></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="d-title d-left">
                        <div class="d-title-acc">修改密码</div>
                    </div>
                    <div class="d-content-acc">
                        <div class="errorMsg">@Html.ValidationSummary()</div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">原始密码</label>
                            </div>
                            <div class="col-md-5 b-clear">
                                @Html.PasswordFor(model => model.Password, new { @class = "cp_input", @placeholder = "原始密码" })
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">新密码</label>
                            </div>
                            <div class="col-md-5 b-clear">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "cp_input", @placeholder = "新密码" })
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">确认密码</label>
                            </div>
                            <div class="col-md-5 b-clear">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "cp_input", @placeholder = "确认密码" })
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">验证码</label>
                            </div>
                            <div class="col-md-5 b-clear">
                                @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @class = "cp_input", @placeholder = "验证码" } })
                                <img id="imgVerify" src="/AjaxHandler/VerifyCode.aspx?" class="verify-code" alt="看不清？点击更换" onclick="this.src=this.src+'?'" />
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3" style="padding:0; margin-left:5px;">
                                <input type="submit" class="btn btn-success b-clear-m cp_btn" value="保存" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer"></div>
    }
</body>
</html>
