@model FYJ.Model.UserInfo
@{
    Layout = null;
    string name = ViewBag.UserName;
    string mail = ViewBag.UserMail;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Index")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Index")
</head>
<body>
    @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Partial("../Shared/BannerPartial")
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="d-title d-left">
                        <div class="d-title-acc">个人设置</div>
                    </div>
                    <div class="d-content-acc">
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">头像</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control d-content-input-acc" placeholder="用户名">
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">用户名</label>
                            </div>
                            <div class="col-md-5">
                                <label class="d-content-label-acc">@name</label>
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">邮箱</label>
                            </div>
                            <div class="col-md-5">
                                <label class="d-content-label-acc">@mail</label>
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">昵称</label>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control d-content-input-acc", @placeholder = "昵称" } })
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">常住城市</label>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control d-content-input-acc", @placeholder = "常住城市" } })
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">联系方式</label>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control d-content-input-acc", @placeholder = "QQ/微信" } })
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">爱好</label>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Favorite, new { htmlAttributes = new { @class = "form-control d-content-input-acc", @placeholder = "爱好" } })
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">
                                <label class="d-content-label-acc">描述</label>
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control d-content-input-acc", @placeholder = "描述" } })
                            </div>
                        </div>
                        <div class="row d-acc-row">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-5">
                                <input type="submit" class="btn btn-success d-acc-btn" value="保存" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-number">
                        <div class="d-numbe-div">
                            <div class="d-numbe-d1"><a href="">494</a></div>
                            <div class="d-numbe-d1"><a href="">关注</a></div>
                        </div>
                        <div class="d-numbe-div">
                            <div class="d-numbe-d1"><a href="">360</a></div>
                            <div class="d-numbe-d1"><a href="">粉丝</a></div>
                        </div>
                        <div class="d-numbe-div" style="border:0;">
                            <div class="d-numbe-d1"><a href="">20</a></div>
                            <div class="d-numbe-d1"><a href="">文章</a></div>
                        </div>
                    </div>
                    <div class="name-div">
                        <div class="name-div-top">
                            <div class="name-div-left">
                                <a href=""><img src="SampleImage/s1.jpg" /></a>
                            </div>
                            <div class="name-div-right">
                                <div class="name-div-right-top"><a href="">进击的巨人</a></div>
                                <div class="name-div-right-bot">本人有点懒，什么也没留下</div>
                            </div>
                        </div>
                        <div class="name-div-bot">
                            <button type="button" class="btn btn-danger">喜欢</button><button type="button" class="btn btn-info">私信</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer"></div>
    }
</body>
</html>
