@model FYJ.Model.ViewModel.DetailModel
@{
    Layout = null;
    var imageList = ViewBag.ImageList;
    List<FYJ.Model.ViewModel.DetailModel> commentList = ViewBag.CommentsList;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    @Styles.Render("~/Content/Index")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Index")
</head>
<body>
    @Html.Partial("../Shared/BannerPartial")

    @using (Html.BeginForm("Detail", "Article", new { id = Model.ArticleId }))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="d-title d-left">
                        <div class="d-title-w">@Model.CrDate / 热度(220) / 评论(@commentList.Count)</div>
                    </div>
                    <div class="d-content">
                        @foreach (var item in imageList)
                        {
                            <img src="/UserImage/@item.Path" />
                        }
                        <div class="d-content-w">
                            @Model.Contents
                        </div>
                    </div>
                    <div class="d-comment-div">
                        <div class="d-comment-w">评论(@commentList.Count)</div>
                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @rows = "3" })
                        <div class="d-comment-btn-div"><input type="submit" value="发布" class="btn btn-primary d-comment-btn" /></div>
                        @foreach (var item in commentList)
                        {
                            <div class="d-comment">
                                <img src="/UserPhoto/@item.Photo" />
                                <div class="d-comment-content"><a href="" class="d-comment-name">@item.UserName :</a>@item.Comments</div>
                                <div class="d-comment-op">@item.CrCommentDate.ToString("yyyy/MM/dd")@*<a href="">回复</a>*@</div>
                                <div class="clear"></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-number">
                        <div class="d-numbe-div">
                            <div class="d-numbe-d1"><a href="">494</a></div>
                            <div class="d-numbe-d1"><a href="">关注</a></div>
                        </div>
                        <div class="d-numbe-div">
                            <div class="d-numbe-d1"><a href="">360</a></div>
                            <div class="d-numbe-d1"><a href="">粉丝</a></div>
                        </div>
                        <div class="d-numbe-div" style="border:0;">
                            <div class="d-numbe-d1"><a href="">20</a></div>
                            <div class="d-numbe-d1"><a href="">文章</a></div>
                        </div>
                    </div>
                    <div class="name-div">
                        <div class="name-div-top">
                            <div class="name-div-left">
                                <a href=""><img src="/UserPhoto/@Model.Photo" /></a>
                            </div>
                            <div class="name-div-right">
                                <div class="name-div-right-top"><a href="">@Model.UserName</a></div>
                                <div class="name-div-right-bot">@Model.Desc</div>
                            </div>

                        </div>
                        <div class="name-div-bot">
                            <button type="button" class="btn btn-danger">喜欢</button><button type="button" class="btn btn-info">私信</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="container footer"></div>
</body>
</html>
