@model FYJ.Model.ArticleModel
@{
    Layout = null;
    var imageList = ViewBag.ImageList;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    @Styles.Render("~/Content/Index")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Index")
</head>
<body>
    @Html.Partial("../Shared/BannerPartial")
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="d-title d-left">
                    <div class="d-title-w">@Model.CrDate / 热度(220) / 评论(20)</div>
                </div>
                <div class="d-content">
                    @foreach (var item in imageList)
                    {
                        <img src="/UserImage/@item.Path" />
                    }
                    <div class="d-content-w">
                        @Model.Contents
                    </div>
                </div>
                <div class="d-comment-div">
                    <div class="d-comment-w">评论(20)</div>
                    <textarea class="form-control" rows="3"></textarea>
                    <div class="d-comment-btn-div"><button type="button" class="btn btn-primary d-comment-btn">发布</button></div>
                    <div class="d-comment">
                        <img src="SampleImage/s1.jpg" />
                        <div class="d-comment-content"><a href="" class="d-comment-name">时空之雨 :</a>之前看过你的画后来就找不到，还好终于又找到了之前看过你的画后来就找不到，还好终于又找到了之前看过你的画后来就找不到，还好终于又找到了。</div>
                        <div class="d-comment-op"><a href="">拉黑</a><a href="">回复</a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="d-comment">
                        <img src="SampleImage/s2.png" />
                        <div class="d-comment-content"><a href="" class="d-comment-name">梵游记 :</a>之前看过你的画后来就找不到。</div>
                        <div class="d-comment-op"><a href="">拉黑</a><a href="">回复</a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="d-comment">
                        <img src="SampleImage/s3.png" />
                        <div class="d-comment-content"><a href="" class="d-comment-name">新浪体育 :</a>之前看过你的画后来就找不到之前看过你。</div>
                        <div class="d-comment-op"><a href="">拉黑</a><a href="">回复</a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="d-comment">
                        <img src="SampleImage/s5.jpg" />
                        <div class="d-comment-content"><a href="" class="d-comment-name">腾讯新闻 :</a>之前看过你的画后来就找不到之前看过你之前看过你。</div>
                        <div class="d-comment-op"><a href="">拉黑</a><a href="">回复</a></div>
                        <div class="clear"></div>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="d-number">
                    <div class="d-numbe-div">
                        <div class="d-numbe-d1"><a href="">494</a></div>
                        <div class="d-numbe-d1"><a href="">关注</a></div>
                    </div>
                    <div class="d-numbe-div">
                        <div class="d-numbe-d1"><a href="">360</a></div>
                        <div class="d-numbe-d1"><a href="">粉丝</a></div>
                    </div>
                    <div class="d-numbe-div" style="border:0;">
                        <div class="d-numbe-d1"><a href="">20</a></div>
                        <div class="d-numbe-d1"><a href="">文章</a></div>
                    </div>

                </div>
                <div class="name-div">
                    <div class="name-div-top">
                        <div class="name-div-left">
                            <a href=""><img src="SampleImage/s1.jpg" /></a>
                        </div>
                        <div class="name-div-right">
                            <div class="name-div-right-top"><a href="">进击的巨人</a></div>
                            <div class="name-div-right-bot">本人有点懒，什么也没留下</div>
                        </div>

                    </div>
                    <div class="name-div-bot">
                        <button type="button" class="btn btn-danger">喜欢</button><button type="button" class="btn btn-info">私信</button>

                    </div>
                </div>


            </div>

        </div>



    </div>
    <div class="container footer"></div>
</body>
</html>
