
@{
    Layout = null;
    string nick = ViewBag.NickName;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Index")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Index")
</head>
<body>
    @Html.Partial("../Shared/BannerPartial")
    <div class="container content">
        <div class="row">
            <div class="col-md-8" id="a_content">
                <div class="loading-b" id="beginLoading">页面正在加载中...</div>
            </div>
            @if (Session["LoginSession"] != null)
            {
                <div class="col-md-4">
                    <div class="name-div">
                        <div class="name-div-top">
                            <div class="name-div-left">
                                <a href=""><img src="SampleImage/s1.jpg" /></a>
                            </div>
                            <div class="name-div-right">
                                <div class="name-div-right-top"><a href="/Account/Index">@nick</a></div>
                                <div class="name-div-right-bot">本人有点懒，什么也没留下</div>
                            </div>
                        </div>
                        <div class="name-div-bot">
                            <div class="name-div-bot-left">
                                <div class="info-div">我的关注</div>
                                <div class="info-div">我的粉丝</div>
                                <div class="info-div">我的金币</div>
                                <div class="info-div">我的消息</div>
                            </div>
                            <div class="name-div-bot-right">
                                <div class="info-div"><a href="">26</a></div>
                                <div class="info-div"><a href="">102</a></div>
                                <div class="info-div"><a href="">200</a></div>
                                <div class="info-div"><a href=""><span> 1 </span>条未读</a></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="recom-div">
                        <div class="recom-div-d">
                            <div class="recom-img"><a href=""><img src="SampleImage/s1.png" /></a></div>
                            <div class="recom-name">
                                <div class="recom-name-top"><a href="">欢乐对对碰</a></div>
                                <div class="recom-name-bot"><a href="">这是一个游戏</a></div>
                            </div>
                            <div class="recom-add"><a href=""><img src="Image/AddP.jpg" /></a></div>
                        </div>
                        <div class="recom-div-d">
                            <div class="recom-img"><a href=""><img src="SampleImage/s1.png" /></a></div>
                            <div class="recom-name">
                                <div class="recom-name-top"><a href="">欢乐对对碰</a></div>
                                <div class="recom-name-bot"><a href="">这是一个游戏</a></div>
                            </div>
                            <div class="recom-add"><a href=""><img src="Image/AddP.jpg" /></a></div>
                        </div>
                        <div class="recom-div-d">
                            <div class="recom-img"><a href=""><img src="SampleImage/s1.png" /></a></div>
                            <div class="recom-name">
                                <div class="recom-name-top"><a href="">欢乐对对碰</a></div>
                                <div class="recom-name-bot"><a href="">这是一个游戏</a></div>
                            </div>
                            <div class="recom-add"><a href=""><img src="Image/AddP.jpg" /></a></div>
                        </div>
                        <div class="recom-div-d">
                            <div class="recom-img"><a href=""><img src="SampleImage/s1.png" /></a></div>
                            <div class="recom-name">
                                <div class="recom-name-top"><a href="">欢乐对对碰</a></div>
                                <div class="recom-name-bot"><a href="">这是一个游戏</a></div>
                            </div>
                            <div class="recom-add"><a href=""><img src="Image/AddP.jpg" /></a></div>
                        </div>
                        <div class="recom-div-d">
                            <div class="recom-img"><a href=""><img src="SampleImage/s1.png" /></a></div>
                            <div class="recom-name">
                                <div class="recom-name-top"><a href="">欢乐对对碰</a></div>
                                <div class="recom-name-bot"><a href="">这是一个游戏</a></div>
                            </div>
                            <div class="recom-add"><a href=""><img src="Image/AddP.jpg" /></a></div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="loading-m" id="divLoading">
        <div class="loading-word">载入更多内容</div>
    </div>
    <input type="text" id="hdCount" />
</body>
</html>
