
@{
    Layout = null;
    FYJ.Model.ViewModel.ArticleUserModel articleUser = ViewBag.ArticleUser;
    List<FYJ.Model.UserInfo> UserList = ViewBag.UserList;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Index")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Index")
</head>
<body>
    @Html.Partial("../Shared/BannerPartial")
    <div class="container content">
        <div class="row">
            <div class="col-md-8" id="a_content">
                <div class="loading-b" id="beginLoading">页面正在加载中...</div>
            </div>
            @if (Session["LoginSession"] != null)
            {
                <div class="col-md-4">
                    <div class="create-div">
                        <a href="/Article/Create"><input type="submit" value="发游记" class="btn btn-primary create-div-btn" /></a>
                    </div>


                    <div class="name-div">
                        <div class="name-div-top">
                            <div class="name-div-left">
                                <a href="/Account/Index"><img src="/UserPhoto/@articleUser.Photo" /></a>
                            </div>
                            <div class="name-div-right">
                                <div class="name-div-right-top"><a href="/Account/Index">@articleUser.NickName</a></div>
                                <div class="name-div-right-bot">@articleUser.Description</div>
                            </div>
                        </div>
                        <div class="name-div-bot">
                            <div class="name-div-bot-left">
                                <div class="info-div">我的关注</div>
                                <div class="info-div">我的粉丝</div>
                                <div class="info-div">我的金币</div>
                                <div class="info-div">我的消息</div>
                            </div>
                            <div class="name-div-bot-right">
                                <div class="info-div"><a href="">26</a></div>
                                <div class="info-div"><a href="">102</a></div>
                                <div class="info-div"><a href="">200</a></div>
                                <div class="info-div"><a href=""><span> 1 </span>条未读</a></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="recom-div">
                        @foreach (var item in UserList)
                        {
                            <div class="recom-div-d">
                                <div class="recom-img"><a href=""><img src="/UserPhoto/@item.Photo" /></a></div>
                                <div class="recom-name">
                                    <div class="recom-name-top"><a href="">@item.NickName</a></div>
                                    <div class="recom-name-bot"><a href="">@item.Description</a></div>
                                </div>
                                @*<div class="recom-add"><a href=""><img src="/Image/AddP.jpg" /></a></div>*@
                            </div>
                        }
                    </div>
                </div>
            }

            @if (Session["LoginSession"] == null)
            {
                <div class="col-md-4">
                    <div class="create-div">
                        <a href="/User/Register"><input type="submit" value="注册" class="btn btn-primary create-div-btn-un" /></a>
                        <a href="/User/Login"><input type="submit" value="登录" class="btn btn-primary create-div-btn-un" /></a>
                    </div>
                    <div class="recom-div">
                        @foreach (var item in UserList)
                        {
                            <div class="recom-div-d">
                                <div class="recom-img"><a href=""><img src="/UserPhoto/@item.Photo" /></a></div>
                                <div class="recom-name">
                                    <div class="recom-name-top"><a href="">@item.NickName</a></div>
                                    <div class="recom-name-bot"><a href="">@item.Description</a></div>
                                </div>
                                @*<div class="recom-add"><a href=""><img src="/Image/AddP.jpg" /></a></div>*@
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="loading-m" id="divLoading">
        <div class="loading-word">载入更多内容</div>
    </div>
    <input type="text" id="hdCount" style="display:none;" />
</body>
</html>
